
// LEARN MORE BTN --- START

.learn-more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primaryRed;
  font-weight: 500;
  font-size: 18px;
  background: none;
  border: none;
  line-height: 150%;

  .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryRed;
    margin-left: 0.75rem;
  }
}

// LEARN MORE BTN --- END