// LEARN MORE BTN --- START

.learn-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primaryRed;
  font-weight: 500;
  font-size: 1.125rem;
  background: none;
  border: none;
  width: fit-content;
  line-height: 150%;

  .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryRed;
    margin-left: 0.75rem;
  }

  &.down {
    .icon {
      transform: rotate(90deg);
    }
  }

  &.bigger {
    .icon {
      width: 4rem;
      height: 4rem;
    }
  }
}

// LEARN MORE BTN --- END


// BUTTONS --- START

.btn {
  text-decoration: none;
  border-radius: 3rem;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  span {
    font-family: $secondaryFont;
    font-weight: 400;
  }

  &.btn--medium {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    padding: 1rem 2rem;
  }

  &.btn--small {
    padding: 0.6rem 1.5rem;
    font-size: 0.92rem;
    line-height: 1.35rem;
  }

  &.btn--red {
    background: $primaryRed;

    span {
      color: $primaryWhite;
    }
  }

  &.btn--white {
    background: $primaryWhite;

    span {
      color: $primaryBlack;
    }
  }
}

// BUTTONS --- END