#sponsors {
  margin-top: 5rem;

  .swiper-sponsors {
    height: 17rem;

    .swiper-slide{
      position: relative;
    }

    .sponsor {
      &--logo {
        img {
          width: 100%;
          height: auto;
          transition: 0.5s ease all;
          filter: grayscale(100%);
        }
        p{
          text-align: center;
          color: $secondaryBlack;
          transition: all 0.3s ease;
          font-family: $secondaryFont;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 85%;
          font-size: 0.8rem;
        }
        @include hover() {
          img{
            filter: grayscale(0%);
          }
          p{
            color: $primaryBlack;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md){
    .swiper-sponsors {
      height: 13rem;
    }
    margin-bottom: 2rem;
  }
}