$primaryBlack: #1C1B2B;
$secondaryBlack: #555460;
$tertiaryBlack: #939393;
$primaryWhite: #FFFFFF;
$secondaryWhite: #C6C6CA;
$primaryRed: #F03834;
$primaryBlue: #BAD6E0;

$border: #E3E5E7;

$gradientFrom: #B4D2DD;
$gradientTo: #FFFFFF;

$primaryFont: "Chillax", sans-serif;
$secondaryFont: "Poppins", sans;